/* Add here all your css styles (customizations) */

.g-pt-350 {
    padding-top: 25rem !important;
}

/*------------------------------------
  Highlight Color
------------------------------------*/
::-moz-selection {
    color: #fff;
    background-color: #2980B9; }

::selection {
    color: #fff;
    background-color: #2980B9; }

.g-bg-primary ::-moz-selection {
    color: #2980B9;
    background-color: #fff; }

.g-bg-primary ::selection {
    color: #2980B9;
    background-color: #fff; }

.g-bg-primary {
    background-color: #2980B9 !important;
}

.g-color-primary {
    color: #2980B9 !important;
}

.bold {
    font-weight: bold;
}

.g-brd-primary {
    border-color: #2980B9 !important;
}

.u-heading-v6-1 .u-heading-v6__title::after, .u-heading-v6-1.text-center .u-heading-v6__title::before, .u-heading-v6-1.text-right .u-heading-v6__title::before, .u-heading-v6-2 .u-heading-v6__title::after, .u-heading-v6-2.text-center .u-heading-v6__title::before, .u-heading-v6-2.text-right .u-heading-v6__title::before {
    content: "";
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 5rem;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: inherit;
}

a {
    color: #2980B9;
    outline: none;
}

a:focus, a:hover {
    color: #2980CC!important;
}

.u-btn-outline-primary {
    color: #2980B9;
    border-color: #2980B9;
    background-color: transparent;
}

.u-btn-outline-primary:hover {
    color: #fff;
    background-color: #2980B9;
}

.u-block-hover:hover .g-color-primary--hover, .g-color-primary--hover:hover {
    color: #2980B9 !important;
}